.MuiPaper-root {
  width: 156px;
  height: 194px;
  background-color: #00254f !important;
  color: #fff !important;
  margin-left: -22px;
  margin-top: 11px;
  border-radius: 4px;
  padding: 12px;
  text-align: start;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      font-size: 14px;
      width: 132px;
      height: 34px;
      border-radius: 2px;
      &:hover {
        background-color: #0059bc !important;
      }
    }
  }
}
